<app-header></app-header>


<div class="login-box row ng ">
  <div class="login-form shadow-8">
    <h1>Tizmiga kirish</h1>
    <div class="form mt-8">
      <label>Telefon Raqamingizni kiriting</label>
     <div style="margin-top: 12px;margin-bottom: 12px"> <input type="text" name="phone" [(ngModel)]="phone" pInputText placeholder="+998 (94) 777 - 87 - 97 "></div>
      <label style="margin-top: 12px">Parolingizni kiriting</label>
      <div style="margin-top: 12px"> <input type="password  " pInputText name="password" [(ngModel)]="password" placeholder="*********"></div>

    </div>
    <div class="button">
      <button><i class="pi pi-sign-in"></i>Login</button>
    </div>
  </div>
</div>
