<div class="body">
  <div class="row">
    <div class="logo">
      <h1 routerLink="home" style="cursor: pointer"> BlueSky</h1>
    </div>
    <div class="menu">
      <ul>
        <li>
          <a routerLink="">Bosh sahifa</a>
        </li>
        <li>
          <a>Yangiliklar</a>
        </li>
        <li>
          <a>Tariflar</a>
        </li>
        <li>
          <a > Jamoa haqida </a>
        </li>
        <li>
          <a >FAQ</a>
        </li>
        <li>
          <a >Bog'lanish</a>
        </li>
      </ul>
    </div>
    <div class="end-menu">
      <img src="./assets/Vector.svg" >
      <img src="./assets/Btn-Language.svg">
      <button (click)="login()" routerLink="login"><i class="pi pi-sign-in"></i>Kirish</button>
    </div>
  </div>
</div>


