<div class="footer">
  <div class="footer-header">
    <img class="imgLogo" src="assets/title.svg" alt="">
   <div>
     <p>O'zgarishlarga tayyormisiz?</p>
     <button><img src="assets/Get%20started%20(1).svg" alt=""></button>
   </div>
  </div>
  <div class="hr"></div>
  <div class="footer-main mt-5 ">
  <div class="row grid ml-6">
    <div class="col-3">
      <h1 class="h1">Yangiliklarimizga <br>obuna bo’ling!</h1>
      <input type="text"  pInputText placeholder="+998" ><span class="pi-arrow_right"><i class="pi pi-arrow-right"></i></span>
    </div>
    <div class="col-3">
      <h1 class="h2">Sarlavha</h1>
      <p>Tariflae</p>
        <p>Jamoa</p>
        <p>Mijjozlar fikri</p>
        <p>Boshlash</p>

    </div>
    <div class="col-3">
      <h1 class="h2">About</h1>
      <p>Our Story</p>
      <p>Benefits</p>
      <p>Team</p>
      <p>Careers</p>

    </div>
    <div class="col-3">
      <h1 class="h2">Help</h1>
      <p>FAQs</p>
      <p>Contact Us</p>
    </div>
  </div>
  </div>
  <div class="footer-footer ">
    <div>
      <span>Terms & Conditions</span>
      <span>Privacy Policy</span>
    </div>
    <div class="icon">
      <i class="pi pi-facebook"></i>
      <i class="pi pi-twitter"></i>
      <i class="pi pi-youtube"></i>
     <div class="angle"> <i class="pi pi-angle-up"></i></div>
    </div>
  </div>
</div>

