<div class="body">
  <div class="main-screen">
    <div class="row1">
      <h1>What is <br>
        <span>trading</span> and <br>
        who is <span>trader</span>?
      </h1>
      <p>
        For ambitious companies around the world, wallet <br> makes moving money as simple, borderless and <br> programmable as the
        rest of the internet.
      </p>
      <button><i class="pi pi-chart-line"></i>Join Today!</button>
    </div>
    <div class="row2">
      <img src="assets/0fY6ep3cd1c.png" alt="">
    </div>
  </div>
</div>

