.header{
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 48px;
  text-align: center;
  color: #333333;
}
.sub-header{
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  color: #333333;
}
.row{
  background-color: #EEF3FF;
}
.main-img{
  width: 670px;
  height: 453px;
}
.user-icon{
  width: 50px;
  height: 37px;
}
.main-box{
  width: 230px;
  height: 210px;
  background-color: #FFFFFF;
  padding: 38px;
}
.grid{
  margin-top: 12px;
}
.box-1{
  margin-left: 50px;
  margin-top: -2px;
}
.box-2{
  margin-left: 50px;
  margin-top: 34px;
}
.counter{
  color: chocolate;
}
.counter2{
  color: blueviolet;
}

.counter3{
 color: darkblue;
}

.counter4{
  color: darkkhaki;
}

