<div class="row">
  <div class="col-12">
      <h1 class="header">Faoliyat</h1>
    <p class="sub-header">Kompaniya faoliyatidan statistik ma’lumotlar</p>
    <div class="row grid ">
    <div class="col-6">
      <img class="main-img" src="assets/Image.jpg" alt="">
    </div>
    <div class="col-6">
      <div class="row grid ">
        <div class="col-6 main-box">
          <img class="user-icon" src="assets/Vector%20(1).svg" >
          <h1>2608 +</h1>
          <span>Put The Clients First</span>
        </div>
        <div class="col-6 main-box ml-3">
          <img class="user-icon" src="assets/Vector%20(1).svg" >
          <h1>2608 +</h1>
          <span>Put The Clients First</span>
        </div>
      </div>
      <div class="row grid mt-2 ">
        <div class="col-6 main-box">
          <img class="user-icon" src="assets/Vector%20(1).svg" >
          <h1>2608 +</h1>
          <span>Put The Clients First</span>
        </div>
        <div class="col-6 main-box ml-3">
          <img class="user-icon" src="assets/Vector%20(1).svg" >
          <h1>2608 +</h1>
          <span>Put The Clients First</span>
        </div>
      </div>
    </div>
    </div>
  </div>
</div>
