<div class="row">
  <div class="col-12 header">
    <h1 class="team-text">Bizning Jamoa</h1>
    <p> Bizning jamoamiz a’zolari top professionallardan tashkil topgan </p>
  </div>
  <div class="formgrid grid ml-4">
    <div class=" our-team-info">
    <img src="assets/cover%20(1).png" >
      <span class="sub-img-info">Founder</span>
    <h1 class="user_name">User Name</h1>
    <p class="team-section" style="margin-top: -9px">
      the quick fox jumps <br>
      over the lazy dog
    </p>
    </div>
    <div class=" our-team-info">
      <img src="assets/cover%20(1).png" >
      <span class="sub-img-info">Founder</span>
      <h1 class="user_name">User Name</h1>
      <p class="team-section" style="margin-top: -9px">
        the quick fox jumps <br>
        over the lazy dog
      </p>
    </div>
    <div class=" our-team-info">
      <img src="assets/cover%20(1).png" >
      <span class="sub-img-info">Founder</span>
      <h1 class="user_name">User Name</h1>
      <p class="team-section" style="margin-top: -9px">
        the quick fox jumps <br>
        over the lazy dog
      </p>
    </div>
    <div class=" our-team-info">
      <img src="assets/cover%20(1).png" >
      <span class="sub-img-info">Founder</span>
      <h1 class="user_name">User Name</h1>
      <p class="team-section" style="margin-top: -9px">
        the quick fox jumps <br>
        over the lazy dog
      </p>
    </div>
  </div>
</div>
<app-video-info></app-video-info>

