.body {
  width: 1440px;
  height: 624px;
  left: 0;
  top: 0;
  background: #FFF;
}

.body h3 {
  position: absolute;
  width: 269px;
  height: 48px;
  left: 610px;
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 48px;
  text-align: center;
  color: #333333;
}
.body h4{
  position: absolute;
  width: 460px;
  height: 30px;
  left: 510px;
  margin-top:100px;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  /* identical to box height */

  text-align: center;

  /* Text-color */

  color: #333333;

}
/*Carousel*/
::ng-deep.p-carousel-container {
  display: flex;
  flex-direction: row;

}
.carousel-header-text {
  text-align: center;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 48px;
  color: #333333;
}
.carousel-sub-header-text{
  margin-top: -35px!important;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  color: #000000;
}
::ng-deep .pi{
  display: none;
}
::ng-deep .p-carousel-indicators{
  display: none!important;
}
.userName{
  width: 162px;
  height: 32px;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0.1px;
  color: #252B42;
  margin-left: 86px;
  margin-top: -90px;
}
.subUserTest{
  margin-left: 86px;
  margin-top: -110px;
  width: 67px;
  height: 24px;
  left: calc(50% - 67px/2 - 47.5px);
  top: 32px;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.2px;
  color: #737373;
  flex: none;
  order: 1;
  flex-grow: 0;
}
.userText{
  position: static;
  width: 422px;
  height: 156px;
  left: calc(50% - 422px/2);
  top: 138.01px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.2px;
  color: #737373;
  flex: none;
  order: 2;
  flex-grow: 0;
  margin-left: 86px;
}
.col-10 ul li{
  list-style: none;
  display: inline-block;
}
.col-10 ul{
  margin-left: 42px;
  margin-top: 12px;
}
