
<p-carousel [value]="products" styleClass="custom-carousel" [numVisible]="4" [numScroll]="1" [circular]="true" [autoplayInterval]="3000" [responsiveOptions]="responsiveOptions">
  <ng-template pTemplate="header">
    <h5 class="carousel-header-text">Yangiliklar</h5>
    <p class="carousel-sub-header-text" >So'ngi yangiliklardan xabardor bo'ling !!</p>
  </ng-template>
  <ng-template let-product pTemplate="item">
    <div class="product-item">
      <div class="product-item-content">
        <div class="p-mb-3">
        </div>
        <div>
          <img src="/assets/cover3.png" alt="">
          <div><span class="content-">Course item</span></div>
          <h2>Content Writer </h2>
          <p>Slate helps you see how many
            more days.</p>
          <span>Full time Premium 1 July 2019 </span>
          <div class="car-buttons p-mt-5">
            <a >View Details</a>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
</p-carousel>

  <app-activity></app-activity>

