<div class="container">
  <div class="header-text">
    <p>Yangiliklar</p>
    <p>So'ngi yangiliklarimizdan xabardor bo'ling</p>
    <div class="grid">
      <div class="col-12 md:col-6 lg:col-3">
        <div class="card">
          <img class="card-photo" src="./assets/card.jpg" alt="logo">
          <h6 class="card-header">Course Item</h6>
          <h3 class="h3">Content Writer</h3>
          <p class="card-paragraph">Slate helps you see how many <br> more days</p>
          <div class="formgrid grid">
            <h6>Full time</h6>
            <h6>Premium</h6>
            <h6>15 october 2021</h6>
            <a class="details-text">View Details</a>
          </div>
        </div>
      </div>
      <div class="col-12 md:col-6 lg:col-3">
        <div class="card">
          <img class="card-photo" src="./assets/cover.png" alt="logo">
          <h6 class="card-header">Course Item</h6>
          <h3 class="h3">Content Writer</h3>
          <p class="card-paragraph">Slate helps you see how many <br> more days</p>
          <div class="formgrid grid">
            <h6>Full time</h6>
            <h6>Premium</h6>
            <h6>15 october 2021</h6>
            <a class="details-text">View Details</a>
          </div>
        </div>
      </div>
      <div class="col-12 md:col-6 lg:col-3">
        <div class="card">
          <img class="card-photo" src="./assets/cover3.png" alt="logo">
          <h6 class="card-header">Course Item</h6>
          <h3 class="h3">Content Writer</h3>
          <p class="card-paragraph">Slate helps you see how many <br> more days</p>
          <div class="formgrid grid">
            <h6>Full time</h6>
            <h6>Premium</h6>
            <h6>15 october 2021</h6>
            <a class="details-text">View Details</a>
          </div>
        </div>
      </div>
      <div class="col-12 md:col-6 lg:col-3">
        <div class="card">
          <img class="card-photo" src="./assets/cover4.png" alt="logo">
          <h6 class="card-header">Course Item</h6>
          <h3 class="h3">Content Writer</h3>
          <p class="card-paragraph">Slate helps you see how many <br> more days</p>
          <div class="formgrid grid">
            <h6>Full time</h6>
            <h6>Premium</h6>
            <h6>15 october 2021</h6>
            <a class="details-text">View Details</a>
          </div>
        </div>
      </div>
    </div>
    <div class="formgrid grid">
    <input class="radioButton" type="radio">
    <input class="radioButton" type="radio">
    <input class="radioButton" type="radio">
    <input class="radioButton" type="radio">
    </div>
  </div>
</div>
